{% extends "layout.html" %}
{% block content %}
<section class="intro-section">
  <h1>Welcome to Career Assistant</h1>
</section>
  <div class="dashboard-container">
    <p>A platform to boost your career with AI-powered tools for resume analysis, interview prep, job matching, LinkedIn optimization, and career planning.</p>
    
    <div class="cards-container">
      {% for task in tasks %}
        <a href="{{ url_for(task.route) if 'user_id' in session else '#' }}" class="card" {% if 'user_id' in session %}@click.prevent="navigate(task.route)"{% endif %}>
          <h3>{{ task.name }}</h3>
          <p>{{ task.description }}</p>
        </a>
      {% endfor %}
    </div>

    {% if not session.user_id %}
    <div class="login-section">
      <a href="{{ url_for('login') }}" class="login-button">Log In</a>
      <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
    </div>
    {% endif %}
  </div>

  <script>
    function navigate(route) {
      if ('user_id' in {{ session|tojson }}) {
        window.location.href = `/${route}`;
      }
    }
  </script>
{% endblock %}